<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <table>
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>writer</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="${board.createdAt}"></td>
        </tr>
        <tr>
            <th>hits</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>contents</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>image</th>
            <td th:each="boardFile: ${boardFileDTOList}">
                <img th:src="@{|/upload/${boardFile.storedFileName}|}" alt="" width="200" height="200">
            </td>
        </tr>
    </table>
    <button onclick="listReq()">목록</button>
    <button onclick="updateReq()">수정</button>
    <button onclick="deleteReq()">삭제</button>
</div>
</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/list";
    }
    //수정버튼 클릭시 실행되는 함수
    const updateReq = () => {
        location.href = `/update/[[${board.id}]]`;
    }

    //삭제버튼 클릭시 실행되는 함수
    const deleteReq = () => {
        let delete_ok = confirm("정말 삭제하시겠습니까? 확인(예) 또는 취소(아니오)를 선택해주세요.");
        if(delete_ok){
            location.href = `/delete/[[${board.id}]]`;
        }else {
            alert("삭제를 취소했습니다.");
        }
    }
</script>
</html>