<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="wrapper">
    <form action="/save" method="post" enctype="multipart/form-data">
        제목: <input type="text" name="boardTitle"><br>
        작성자: <input type="text" name="boardWriter"><br>
        비밀번호: <input type="text" name="boardPass"><br>
        내용: <textarea name="boardContents" cols="30" rows="10"></textarea>
        파일: <input type="file" name="boardFile" multiple><br>
        <input type="submit" value="작성">
    </form>
    출처: https://generalcoder.tistory.com/17?category=1445116 [HighGarden:티스토리]
</body>
</div>
</html>